<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@7.3.67/css/materialdesignicons.min.css" rel="stylesheet"/>
    <link  href="https://cdn.jsdelivr.net/npm/vuetify@3.4.8/dist/vuetify.min.css" rel="stylesheet"/>
    
    <title>Project Waste Not</title>
</head>
<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.4.8/dist/vuetify.min.js"></script>
    
    
    <div id="app"></div>
    

    <script type="text/x-template" id="app-template">
        <v-app>
            <v-card
                class="mx-auto my-auto elevation-10"
                width="1100"
                append-icon="mdi-cube-outline"
            >
                <template v-slot:title>
                    Inventory
                </template>
                <v-card-text>
                    <v-sheet color="transparent" width="200px">
                        <v-text-field
                            v-model="productSearch"
                            label="Product search"
                            append-inner-icon="mdi-magnify"
                        />
                    </v-sheet>
                </v-card-text>
                <v-card-text>
                    <v-data-table
                        :headers="headers"
                        :items="items"
                        item-key="product"
                        :loading="loading"
                        :search="productSearch"
                        :custom-filter="filterItems"
                    >
                        <template #item.edit_available_quantity="{ item }">
                            <v-text-field
                                :key="item.id+'id'"
                                v-model="item.available_units"
                                prefix="Qty."
                                append-inner-icon="mdi-magnify"
                            />
                        </template>
                    </v-data-table>
                </v-card-text>
            </v-card>
        </v-app>
    </script>
    <script type="module">
        const { createApp, ref, computed, watch } = Vue
        const { createVuetify } = Vuetify
        
        const vuetify = createVuetify()

        const app = createApp({
            template: "#app-template", 
            setup() {
                const productSearch = ref('')
                const loading = ref(true)
                const editAvailableQuantity = ref('')
                const headers = ref(
                [
                    { title: 'Item code', value: 'item_code', width: '100px' },
                    { title: 'Product', value: 'product', sortable: true, width: '170px' },
                    { title: 'Package', value: 'package', sortable: true, width: '100px'  },
                    { title: 'Available units', value: 'available_units', sortable: true, width: '150px' },
                    { title: 'Category', value: 'category', width: '70px' },
                    { title: 'Last updated', value: 'last_updated', sortable: true, width: '170px' },
                    { title: 'Edit available quantity', value: 'edit_available_quantity' },
                ])
                const items = ref([
                {
                    id: 0,
                    item_code: 'ACC1',
                    product: 'Apple granny smith',
                    package: '40 LB',
                    available_units: '3,638,066',
                    category: 'Fruits',
                    last_updated: '2021-02-05 08:28:36',
                    edit_available_quantity: '',
                },  
                {
                    id: 1,
                    item_code: 'ACC1',
                    product: 'Pineapple crownless',
                    package: '7 CT',
                    available_units: '6,462,020',
                    category: 'Fruits',
                    last_updated: '2021-02-03 19:49:33',
                    edit_available_quantity: '',
                },
                {
                    id: 2,
                    item_code: 'ACC1',
                    product: 'Banana green',
                    package: '8 CT',
                    available_units: '8,664,948',
                    category: 'Fruits',
                    last_updated: '2021-02-02 19:17:15',
                    edit_available_quantity: '',
                },
                {
                    id: 3,
                    item_code: 'ACC1',
                    product: 'Banana green tip',
                    package: '40 LB',
                    available_units: '2,592,335',
                    category: 'Fruits',
                    last_updated: '2021-02-02 09:46:33',
                    edit_available_quantity: '',
                },
            ])

                setTimeout(() => loading.value = false, 2000);

                function filterItems (value, query, item) {
                    const item_code = item.columns['item_code'].toLowerCase()
                    const product = item.columns['product'].toLowerCase()
                    const category = item.columns['category'].toLowerCase()

                    const val = value.toLowerCase()
                    const q = query.toLowerCase()
                    
                    return val != null &&
                        q != null &&
                        typeof val === 'string' &&
                        (item_code.includes(q) ||
                        product.includes(q) ||
                        category.includes(q))
                }

                return { productSearch, headers, loading, filterItems, items }
            }
        })
        .use(vuetify)
        .mount("#app")
    </script>
</body>
</html>




